.fullscreen-card.fullscreen-card_pink
	.fullscreen-card__column
		img.fullscreen-image(src="img/simptomi_dentinale.jpg", alt="")
	.fullscreen-card__column.fullscreen-card__column_centred_vertically
		.symptoms.fullscreen-card__symptoms
			.symptoms__title Симптомы
			.symptoms__wrapper.symptoms__wrapper_column_2
				.symptoms__row
					img.symptoms__icon(src="img/nabuhanie_desen.svg", alt="#")
					.symptoms__text="Набухание десен"
				.symptoms__row
					img.symptoms__icon(src="img/nabuhanie_desen.svg", alt="#")
					.symptoms__text="Набухание десен"
				.symptoms__row
					img.symptoms__icon(src="img/nabuhanie_desen.svg", alt="#")
					.symptoms__text="Набухание десен"
				.symptoms__row
					img.symptoms__icon(src="img/nabuhanie_desen.svg", alt="#")
					.symptoms__text="Набухание десен"
				.symptoms__row
					img.symptoms__icon(src="img/nabuhanie_desen.svg", alt="#")
					.symptoms__text="Набухание десен"
				.symptoms__row
					img.symptoms__icon(src="img/nabuhanie_desen.svg", alt="#")
					.symptoms__text="Набухание десен"
				.symptoms__row
					img.symptoms__icon(src="img/nabuhanie_desen.svg", alt="#")
					.symptoms__text="Набухание десен"

