mixin about-product-advantage(heading, icon_src)
    .about-product__advantage
        .about-product__advantage-heading= heading
        .about-product__advantage-icon 
            img(src=icon_src, alt="#")


mixin about-product(color, image_src, image_link) 
    section.about-product(class=color)
        ul.about-product__menu.about-product__menu
            li.about-product__link
                a.menu-link.menu-link_underline(href="#") О продукте  
            li.about-product__link
                a.menu-link.menu-link_underline(href="#") Как использовать 
            li.about-product__link
                a.menu-link.menu-link_underline(href="#") Симптомы
            li.about-product__link
                a.menu-link.menu-link_underline(href="#") О бренде
        .container.about-product__container
            .about-product__header.heading О продукте
            .about-product__body 
                .about-product__column 
                    +about-product-advantage("Безвреден при проглатывании", "img/icon-about-product-1.svg")
                    +about-product-advantage("Имеет приятный вкус", "img/icon-about-product-1.svg")
                    +about-product-advantage("Натуральные экстракты", "img/icon-about-product-1.svg")
                .about-product__column
                    .about-product__image
                        a(href=image_link) 
                            img(src=image_src, alt="#")
                .about-product__column
                    +about-product-advantage("Без ликодина, сахара и парабенов", "img/icon-about-product-1.svg")
                    +about-product-advantage("Двойной объем - 20мл", "img/icon-about-product-1.svg")
                    +about-product-advantage("Сделано в Италии", "img/icon-about-product-1.svg")

            .about-product__preview 
                    .about-product__preview-image
                        a(href="#") 
                            img(src="img/preview-dentinale-1.jpg", alt="#")
                    .about-product__preview-image
                        a(href="#") 
                            img(src="img/preview-dentinale-2.jpg", alt="#")
         



