mixin menu_link(name, data="", isActive=false)
	li.fade-out-tab-menu__link(class = isActive ? "fade-out-tab-menu__link_clicked" : "", data-product=data)
		=name

mixin section(data=``, heading=``, isActive=false)
	.fade-out-tab__section(data-product = data, class = isActive ? "fade-out-tab__section_active" : "")
		block section


mixin item
	.fade-out-tab-item
		block item


mixin items(heading)
	.fade-out-tab__items
		.fade-out-tab__heading.fade-out-tab__heading_small=heading
		.fade-out-tab__items-wrapper.fade-out-tab__items-wrapper(data-product=data, class=`fade-out-tab__items-wrapper_column-${column_count}`)
			block items

block vars


section.fade-out-tab
	.container
		.fade-out-tab__header
			.fade-out-tab__heading.heading= heading
			nav
				ul.fade-out-tab__menu.fade-out-tab-menu
					block menu-links
		.fade-out-tab__body
			block sections


