mixin tooth_select(time, tooth)
        a.tooth__select(href="#")
            .tooth__select-time= time 
            .tooth__select-tooth= tooth

mixin tooth_image(img_src, date, display="")
    .tooth__column.tooth__image-column(class=display)
                    img(src=img_src, alt="#")
                    .tooth__image-column-content
                        .tooth__text
                            span= date
                            span месяцев




section.tooth
    .container.tooth__container
        .tooth__header 
            .tooth__heading.heading Схема прорезывания зубов
            .tooth__description.description Порядок прорезывания зубов у детей, как правило, схож и протекает по единой схеме
        .tooth__body
            +tooth_image("img/6_12.svg", "6-12", "tooth__image-column_active")
            +tooth_image("img/6_12.svg", "9-16")
            +tooth_image("img/6_12.svg", "13-19")
            +tooth_image("img/6_12.svg", "17-23")
            +tooth_image("img/6_12.svg", "22-23")
            .tooth__column.tooth__select-column 
                +tooth_select('6 — 12 месяцев', 'Центральные резцы')
                +tooth_select('9 — 16 месяцев', 'Боковые резцы')
                +tooth_select('13 — 19 месяцев', 'Клыки')
                +tooth_select('17 — 23 месяцев', 'Первые моляры')
                +tooth_select('22 — 23 месяцев', 'Вторые моляры')
