mixin where-can-buy-logo
    .where-can-buy-logo
        a(href="#")
            img(src="img/1-detnir.jpg", alt="") 

mixin where-can-buy-menu__link(href, name, active="", data="") 
    li.where-can-buy-menu__link(class=active, data-product=data)
        a(href=href).menu-link=name

mixin where-can-buy__logos(heading="Спрашивайте Dentinale® natura в аптеках и детских магазинах")
    .where-can-buy__logos
        .where-can-buy__heading.where-can-buy__heading_small=heading
        .where-can-buy__logos-wrapper.where-can-buy__logos-wrapper(data-product=data)
            +where-can-buy-logo
            +where-can-buy-logo
            +where-can-buy-logo
            +where-can-buy-logo
            +where-can-buy-logo
            +where-can-buy-logo
            +where-can-buy-logo
            +where-can-buy-logo
            +where-can-buy-logo
            +where-can-buy-logo
            +where-can-buy-logo
            +where-can-buy-logo
            

mixin where-can-buy__product(data="dentinale_natura", heading="", active="where-can-buy__product_active")
    .where-can-buy__product(data-product=data, class=active) 
        +where-can-buy__logos(`Спрашивайте ${heading} в аптеках и детских магазинах`)
        +where-can-buy__logos(`Заказывайте ${heading} в интернет-магазинах`)


section.where-can-buy
    .container
        .where-can-buy__header
            .where-can-buy__heading.heading Где купить?
            nav 
                ul.where-can-buy__menu.where-can-buy-menu 
                    +where-can-buy-menu__link("#", "Dentinale Natura", "where-can-buy-menu__link_clicked", "dentinale_natura")
                    +where-can-buy-menu__link("#", "Windi", "", "windi")
                    +where-can-buy-menu__link("#", "NoseFrida", "", "nosefrida")
        .where-can-buy__body 
            +where-can-buy__product("dentinale_natura", "Dentinale® natura")
            +where-can-buy__product("windi", "Windi", "")
            +where-can-buy__product("nosefrida", "NoseFrida", "")
            .where-can-buy__bottom-text и других магазинах страны.
            
